.App {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.card {
  flex: 0 1 24%;
  border: 1px solid black;
  margin-bottom: 4px;
  text-align: center;
  padding: 3px;
  border-radius: 20px;
}

.centered-text {
  text-align: center;
}

.search input {
  display: block;
  margin: 0 auto;
  padding: 4px;
  width: 30rem;
}

.search select {
  display: block;
  margin: 0 auto;
  padding: 4px;
}

.search button {
  display: block;
  margin: 0 auto;
}

.input-field{
  margin: 5px;
}

#title {
  text-align: center;
}

#title h1 {
  font-family: 'Nixie One', cursive;
}

/* .search select {
  margin: 0 auto;
  display: block;
}

.search label {
  margin: 0 auto;
  display: block;
} */
